<div class="interaction-body" [style.background-color]="unitService.backgroundColor()" data-cy="interaction-body">

  @if (isStandalone) {
    <stars-standalone-menu></stars-standalone-menu>
  }

  @if (responsesService.unitDefinitionProblem(); as errorMessage) {
    <stars-unit-definition-error [message]="errorMessage"></stars-unit-definition-error>
  } @else {

  @if (unitService.showFirstClickLayer()) {
    <stars-click-layer [FirstAudioOptionsParams]="unitService.firstAudioOptions()"></stars-click-layer>
  }

  <!-- audio component (show if player is not hidden) -->
  @if (unitService.currentAudioSrc().audioSource && !unitService.showingOpeningImage()) {
    <stars-audio [audio]="unitService.currentAudioSrc()" [firstAudioOptions]="unitService.firstAudioOptions()"></stars-audio>
  }

  @if (unitService.showContinueButton()) {
    <stars-continue-button
      (navigate)="componentStateService.requestNavigation('next')"></stars-continue-button>
  }

  <!-- disable interaction until complete via overlay -->
  @if (unitService.interactionDisabled()) {
    <div class="interaction-disabled-overlay" (click)="disabledOverlay($event)" data-cy="interaction-disabled-overlay"></div>
  }

  <!-- show ribbons when in practice mode -->
  @if (hasRibbonBars()) {
    <stars-ribbon-bar></stars-ribbon-bar>
  }

  @if (unitService.openingFlowActive()) {
    <stars-opening-image
      [parameters]="unitService.openingImageParams()"
    ></stars-opening-image>
  }

  <!-- interaction elements (hidden during opening flow) -->
  @switch (activeInteractionType()) {
    @case ('BUTTONS') {
      <stars-interaction-buttons class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"
        (navigationNextRequest)="sendNavigationRequest($event)">
      </stars-interaction-buttons>
    }
    @case ('IMAGE_ONLY') {
      <stars-interaction-buttons class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"
        (navigationNextRequest)="sendNavigationRequest($event)">
      </stars-interaction-buttons>
    }
    @case ('DROP') {
      <stars-interaction-drop class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-drop>
    }
    @case ('WRITE') {
      <stars-interaction-write class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-write>
    }
    @case ('POLYGON_BUTTONS') {
      <stars-interaction-polygon-buttons class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-polygon-buttons>
    }
    @case ('PLACE_VALUE') {
      <stars-interaction-place-value class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-place-value>
    }
    @case ('NUMBER_LINE') {
      <stars-interaction-number-line class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-number-line>
    }
    @case ('PYRAMID') {
      <stars-interaction-pyramid class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-pyramid>
    }
    @case ('EQUATION') {
      <stars-interaction-equation class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-equation>
    }
    @case ('META') {
      <stars-interaction-meta class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"
        (navigationNextRequest)="sendNavigationRequest($event)"></stars-interaction-meta>
    }
    @case ('VIDEO') {
      <stars-interaction-video class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-video>
    }
    @case ('FIND_ON_IMAGE') {
      <stars-interaction-find-on-image class="interaction"
        [parameters]="getParametersWithFormerState()"
        [showHint]="audioFeedbackService.feedbackHint()"
        (responses)="responsesService.newResponses($event)"></stars-interaction-find-on-image>
    }
  }

  <!-- lower ribbons -->
  @if (hasRibbonBars()) {
    <stars-ribbon-bar></stars-ribbon-bar>
  }
  }
</div>
