<div class="interaction-body" [style.background-color]="unitService.backgroundColor()" data-cy="interaction-body">

  <!-- menu for standalone mode -->
  @if (isStandalone) {
    <stars-standalone-menu></stars-standalone-menu>
  }

  @if (unitService.showFirstClickLayer()) {
    <stars-click-layer></stars-click-layer>
  }

  <!-- audio component (show if player is not hidden) -->
  @if ((unitService.mainAudio().audioSource || unitService.openingImageParams().audioSource) && !unitService.showingOpeningImage()) {
    <stars-audio [audio]="unitService.currentAudioSrc()" [firstAudioOptions]="unitService.firstAudioOptions()"></stars-audio>
  }

  <!-- Continue Button (hidden during opening flow) -->
  @if (!unitService.openingFlowActive() && (unitService.continueButton() === "ALWAYS" ||
      (unitService.continueButton() === "ON_MAIN_AUDIO_COMPLETE" && responsesService.mainAudioComplete()) ||
      (unitService.continueButton() === "ON_AUDIO_AND_RESPONSE" && responsesService.mainAudioComplete() &&
      (responsesService.responseProgress() === "complete" || responsesService.responseProgress() === "some")) ||
      (unitService.continueButton() === "ON_VIDEO_COMPLETE" && responsesService.videoComplete()) ||
      (unitService.continueButton() === "ON_ANY_RESPONSE" &&
        (responsesService.responseProgress() === "some" || responsesService.responseProgress() === "complete")) ||
      (unitService.continueButton() === "ON_RESPONSES_COMPLETE" && responsesService.responseProgress() === "complete"))) {
    <stars-continue-button
      (navigate)="veronaPostService.sendVopUnitNavigationRequestedNotification('next')"></stars-continue-button>
  }

  <!-- disable interaction until complete via overlay -->
  @if ((unitService.disableInteractionUntilComplete() && !responsesService.mainAudioComplete()) ||
    responsesService.feedbackActive()) {
    <div class="interaction-disabled-overlay" (click)="disabledOverlay($event)" data-cy="interaction-disabled-overlay"></div>
  }

  <!-- show ribbons when in practice mode -->
  @if (hasRibbonBars()) {
    <stars-ribbon-bar></stars-ribbon-bar>
  }

  @if (unitService.openingFlowActive()) {
    <stars-opening-image
      [parameters]="unitService.openingImageParams()"
    ></stars-opening-image>
  }

  <!-- interaction elements -->
  @if (!unitService.openingFlowActive() && unitService.interaction() === 'BUTTONS' || unitService.interaction() === 'IMAGE_ONLY') {
    <stars-interaction-buttons class="interaction"
      [parameters]="getParametersWithFormerState()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)">
    </stars-interaction-buttons>
  } @else if (!unitService.openingFlowActive() && unitService.interaction() === 'DROP') {
    <stars-interaction-drop class="interaction"
      [parameters]="getParametersWithFormerState()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)"></stars-interaction-drop>
  } @else if (!unitService.openingFlowActive() && unitService.interaction() === 'WRITE') {
    <stars-interaction-write class="interaction"
      [parameters]="getParametersWithFormerState()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)"></stars-interaction-write>
  } @else if (unitService.interaction() === 'VIDEO') {
    <stars-interaction-video class="interaction"
      [parameters]="unitService.parameters()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)"></stars-interaction-video>
  } @else if (unitService.interaction() === 'FIND_ON_IMAGE') {
    <stars-interaction-find-on-image class="interaction"
      [parameters]="getParametersWithFormerState()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)"></stars-interaction-find-on-image>
  } @else if (!unitService.openingFlowActive() && unitService.interaction() === 'POLYGON_BUTTONS') {
    <stars-interaction-polygon-buttons class="interaction"
      [parameters]="getParametersWithFormerState()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)"></stars-interaction-polygon-buttons>
  } @else if (!unitService.openingFlowActive() && unitService.interaction() === 'PLACE_VALUE') {
    <stars-interaction-place-value class="interaction"
      [parameters]="getParametersWithFormerState()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)"></stars-interaction-place-value>
  } @else if (!unitService.openingFlowActive() && unitService.interaction() === 'NUMBER_LINE') {
    <stars-interaction-number-line class="interaction"
      [parameters]="getParametersWithFormerState()"
      [showHint]="responsesService.feedbackHint()"
      (responses)="responsesService.newResponses($event)"></stars-interaction-number-line>
  }

  <!-- lower ribbons -->
  @if (hasRibbonBars()) {
    <stars-ribbon-bar></stars-ribbon-bar>
  }
</div>
