<div class="interaction-container">
  @switch (elementType) {
    @case ("radio-group-images") {
      <stars-radio-group-images
        [elementModel]="elementModelAsRadioGroupImagesElement"
        [parentForm]="parentForm()"
        [position]="'row'">

      </stars-radio-group-images>
    }
    @case ("multi-choice-images") {
      <stars-multi-choice-images
        [elementModel]="elementModelAsMultiChoiceImagesElement">
      </stars-multi-choice-images>
    }
    @default {
      Error: Unsupported ElementType
    }
  }
</div>
