<div>
  @switch (section().layoutId) {
    @case("PicPicLayout") {
      <pic-pic-layout
        [interaction]="section().interaction"
        [instructions]="section().instructions"
        [stimulus]="section().stimulus"
        [variant]="section().variant"
        [parentForm]="form"
        (valueChange)="valueChanged($event)"
      ></pic-pic-layout>
    }
    @case("PicTextLayout") {
      <pic-text-layout
        [interaction]="section().interaction"
        [instructions]="section().instructions"
        [stimulus]="section().stimulus"
        [variant]="section().variant"
        [parentForm]="form"
        (valueChange)="valueChanged($event)"
      ></pic-text-layout>
    }
  }
</div>
