<div>
  @switch (section().layoutId) {
    @case("PicPicLayout") {
      <pic-pic-layout
        [interaction]="section().interaction"
        [instructions]="section().instructions"
        [stimulus]="section().stimulus"
        [continueButton]="section().continue"
        [parentForm]="form"
        (valueChange)="valueChanged($event)"
      ></pic-pic-layout>
    }
    @case("PicKeyboardLayout") {
      <pic-keyboard-layout
        [interaction]="section().interaction"
        [instructions]="section().instructions"
        [stimulus]="section().stimulus"
        [continueButton]="section().continue"
        [parentForm]="form"
        (valueChange)="valueChange.emit($event)"
      ></pic-keyboard-layout>
    }
 }
</div>
