<div class="buttons-container"
     data-cy="buttons-container"
     [class]="getLayoutClass()"
     [class.has-image]="localParameters.imageSource !== ''"
     [class.full-area]="useFullArea"
>
  @if (localParameters.imageSource || localParameters.text) {
    <div class="stimulus-wrapper">
      @if (localParameters.imageSource) {
        <div class="image-wrapper">
          <img #imageElement
               [src]="localParameters.imageSource"
               [alt]=""
               data-cy="stimulus-image">
        </div>
      }
      @if (localParameters.text) {
        <div class="text-wrapper">
          <div data-cy="instruction-text">{{localParameters.text}}</div>
        </div>
      }
    </div>
  }
  @if (optionRows.length > 0) {
    <div class="buttons-wrapper"
         data-cy="buttons-wrapper"
    >
      @for (row of optionRows; track $index) {
        <div class="row"
             [class.two-buttons]="optionRows.length === 1 && row.length === 2 && localParameters.buttonType !== 'LONG_RECTANGLE' && localParameters.buttonType !== 'EXTRA_LARGE_SQUARE'"
             [class.two-extra-large-buttons]="localParameters.buttonType === 'EXTRA_LARGE_SQUARE' && optionRows.length === 1 && row.length === 2"
             [class.long-rectangle-buttons]="localParameters.buttonType === 'LONG_RECTANGLE'"
             [class.tall-rectangle-buttons]="localParameters.buttonType === 'TALL_RECTANGLE'"
             [attr.data-cy]="'button-row-' + $index">
          @for (button of row; track $index) {
            <div class="inner-button-wrapper" [attr.data-cy]="'button-wrapper-' + button.index">
              <stars-standard-button
                [id]="button.id"
                [value]="button.index"
                [inputType]="localParameters.multiSelect ? 'checkbox' : 'radio'"
                [text]="button.option.text"
                [image]="button.option.imageSource"
                [icon]="button.option.icon"
                [selected]="selectedValues()[button.index]"
                [hintSelect]=""
                [type]="localParameters.buttonType"
                [attr.data-cy]="button.option.audioSource ? 'button-with-audioSource-' + button.index : 'button-' + button.index"
                (buttonClick)="onButtonClick(button.index)">
              </stars-standard-button>
              @if (button.option.audioSource) {
                <stars-audio-button [audio]="createAudioOptions(button)"></stars-audio-button>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</div>
