@use 'colors';
@use 'variables';

.buttons-container {
  @include variables.interaction-wrapper;

  &.full-area {
    padding: 0 0 90px 0;
  }

  &.layout--top-center.has-image:not(.full-area) {
    padding-top: 0;
  }

  &.layout--top-center {
    flex-direction: column;
  }

  &.layout--left-center,
  &.layout--left-center-50,
  &.layout--left-bottom {
    flex-direction: row;
  }

  &.layout--left-center-50 {
    column-gap: 24px;
  }

  &.layout--left-bottom {
    align-items: baseline;
  }
}

.inner-button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.stimulus-wrapper {
  @include variables.stimulus-wrapper;

  .buttons-container.layout--top-center:not(.full-area) & {
    padding: 12px;
  }

  .buttons-container.full-area & {
    padding: 0 0 12px 0;
  }
}

.buttons-container.layout--left-center-50 .stimulus-wrapper,
.buttons-container.layout--left-bottom .stimulus-wrapper {
  flex: 0 0 50%;
}

.buttons-container.layout--left-bottom .image-wrapper {
  align-self: flex-end;
  justify-content: flex-end;
}

.image-wrapper {
  @include variables.image-wrapper;
}

.buttons-wrapper {
  box-sizing: border-box;
  padding-bottom: 12px;
  flex-grow: 0;
  flex-shrink: 0;

  @include variables.flex-center;
  flex-direction: column;
  gap: variables.$small-gap-margin;

  .buttons-container.layout--left-center-50 & {
    flex: 0 0 50%;
    align-items: flex-start;
    padding-right: 0;
  }

  .buttons-container.layout--left-center:not(.has-image) & {
    padding-right: 5px;
  }

  .row {
    @include variables.flex-center;
    flex-direction: row;
    width: 100%;
    column-gap: variables.$small-gap-margin; /* default spacing between buttons */

    &:has(.has-smiley-icon) {
      column-gap: 50px;
    }

    &.two-buttons {
      column-gap: variables.$gap-between-two-buttons-in-a-row; /* 106px special case for 1 Row 2 buttons */
    }

    &.two-extra-large-buttons {
      column-gap: variables.$gap-between-two-extra-large-buttons-in-a-row; /* 50px special case for 1 Row 2 buttons that has buttonType: EXTRA_LARGE_SQUARE */
    }

    &.long-rectangle-buttons {
      flex-direction: column;
      row-gap: variables.$gap-between-two-extra-large-buttons-in-a-row;
    }

    &.tall-rectangle-buttons {
      column-gap: 0;
    }
  }

  .buttons-container.layout--left-center-50 & .row {
    width: auto;
  }

  &.flex-row {
    flex-direction: row;
    column-gap: variables.$small-gap-margin;
    padding-left: variables.$big-gap-margin;

    .stimulus-wrapper {
      width: variables.$square-image-width;
      height: variables.$square-image-height;
      margin: 0;

      img {
        @include variables.responsive-image;
      }
    }
  }
}

.text-wrapper {
  max-width: 500px;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  div {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
