@use 'colors';
@use 'variables';

.unit-nav-next {
  @include variables.circle-button-wrapper;
  bottom: 10px;
  right: 10px;

  &.has-ribbons {
    bottom: 15px;
  }

  button {
    @include variables.circle-button-props;
    background-color: transparent;
    vertical-align: middle;
    transition: filter 0.2s ease, transform 0.2s ease;
    -webkit-tap-highlight-color: transparent;

    svg {
      @include variables.svg-styles;
    }

    &.is-playing {
      opacity: 0.6;
    }

    &.clicked {
      filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.2));
      transform: translate(2px, 2px);
    }
  }
}
