@use 'colors';
@use 'variables';

.drop-container {
  @include variables.interaction-wrapper;
  flex-direction: column;

  // Image at the bottom, buttons at the top
  &.image-position-bottom {
    flex-direction: column-reverse;
  }

  // Image at the top, buttons at the bottom
  &.image-position-top {
    flex-direction: column;
  }

  .stimulus-wrapper {
    @include variables.stimulus-wrapper;
    padding: 12px variables.$small-gap-margin;
  }

  .image-wrapper {
    @include variables.image-wrapper;
  }
}

.buttons-wrapper {
  @include variables.flex-center;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
}

.animate-wrapper {
  margin-right: variables.$small-gap-margin;
  transition: transform 1s ease-in-out;

  &.no-transition {
    transition: none;
  }
}

@media screen and (max-height: 600px) {
  .stimulus-wrapper {
    height: 300px;
  }
}
