<div class="pic-pic container"
     [class.no-stimulus]="!stimulus()"
     [class.large-interaction]="!stimulus()">

  <div class="side">
    @if (instructions()) {
      <instructions-selection
        [elementModel]="instructions()"
        (valueChange)="valueChange.emit($event)">
      </instructions-selection>
    }
  </div>

  @if (stimulus() && stimulus().position == "top") {
    <div class="top">
      <stimulus-selection [elementModel]="stimulus()">
      </stimulus-selection>
    </div>
  }

  <div class="middle">
    @if (interaction()) {
      <interaction-selection
        [elementModel]="interaction()"
        [parentForm]="parentForm()"
        [sectionVariant]="variant()"
        (valueChange)="valueChange.emit($event)">
      </interaction-selection>
    }
  </div>
</div>
