<div class="pic-pic container"
     [class.no-stimulus]="!hasStimulus"
     [class.top-stimulus]="hasTopStimulus"
     [class.bottom-stimulus]="hasBottomStimulus"
     [class.large-interaction]="!hasStimulus">

  <div class="side">
    @if (instructions()) {
      <instructions-selection
        [elementModel]="instructions()"
        (valueChange)="valueChange.emit($event)">
      </instructions-selection>
    }
  </div>

  @if (hasTopStimulus) {
    <div class="top">
      <stimulus-selection [elementModel]="stimulus()">
      </stimulus-selection>
    </div>
  }

  <div class="middle">
    @if (interaction()) {
      <interaction-selection
        [elementModel]="interaction()"
        [parentForm]="parentForm()"
        [sectionVariant]="variant()"
        (valueChange)="valueChange.emit($event)">
      </interaction-selection>
    }
  </div>

  @if (hasBottomStimulus) {
    <div class="bottom">
      <stimulus-selection [elementModel]="stimulus()">
      </stimulus-selection>
    </div>
  }
</div>
