<div class="pic-pic container" [ngClass]="layoutClasses()">
  <div class="side">
    @if (instructions()) {
      <instructions-selection
        [elementModel]="instructions()"
        (valueChange)="onValueChange($event)">
      </instructions-selection>
    }
  </div>

  @if (hasTopStimulus() && !hasVerticalSyllableCounter()) {
    <div class="top">
      <stimulus-selection [elementModel]="stimulus()">
      </stimulus-selection>
    </div>
  }

  @if (hasVerticalSyllableCounter() && stimulus()) {
    <div class="side-stimulus">
      <stimulus-selection [elementModel]="stimulus()">
      </stimulus-selection>
    </div>
  }

  <div class="middle">
    @if (interaction()) {
      <interaction-selection
        [elementModel]="interaction()"
        [parentForm]="parentForm()"
        [sectionVariant]="variant()"
        (valueChange)="onValueChange($event)">
      </interaction-selection>
    }
  </div>

  @if (hasBottomStimulus() && !hasVerticalSyllableCounter()) {
    <div class="bottom">
      <stimulus-selection [elementModel]="stimulus()">
      </stimulus-selection>
    </div>
  }
</div>
