<div class="multi-choice-circles-wrapper">
  <div class="checkbox-group"
       [ngClass]="layoutClass"
       [style.--option-count]="elementModel().options.length"
       [formGroup]="MultiCheckboxFormGroup">

    @for (option of elementModel().options; track option; let i = $index) {
      <mat-checkbox
        [formControlName]="option.id"
        [attr.aria-label]="option.text"
        (change)="valueChanged($event)">
        <div class="circles-container">
          <div class="circle"
               [class.selected]="MultiCheckboxFormGroup.get(option.id)?.value"
               [style.background-color]="option.color || defaultColor"
               [style.width.px]="option.size || defaultSize"
               [style.height.px]="option.size || defaultSize">
          </div>

        </div>
      </mat-checkbox>
    }
  </div>
</div>
