@import '_colors.scss';

.multi-choice-circles-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.circle {
  border-radius: 50%;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 5px 5px 0 4px rgba(0, 0, 0, 0.2);

  @media (hover: hover) {
    &:hover {
      background-color: $highlight !important;
    }
  }
}

::ng-deep .checkbox-group.row-layout .mat-mdc-checkbox .mdc-form-field .mdc-checkbox {
  display: none !important;
}

::ng-deep .mat-mdc-checkbox-checked {
  .circle {
    background-color: #0050E5 !important;
    transform: scale(1.05);
    //box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 900px) {
  .circles-container {
    max-width: 95%;
    padding: 0.4rem;
  }

  // Add touch-specific styles
  .circle {
    -webkit-tap-highlight-color: transparent; // Removes the default mobile tap highlight

    &:active {
      background-color: #0050E5 !important;
    }
  }
}
