<div class="multi-choice-circles-wrapper">
  <div class="checkbox-group"
       [ngClass]="layoutClass"
       [style.--option-count]="elementModel().optionsCount"
       [formGroup]="MultiCheckboxFormGroup">

    @for (option of options(); track option; let i = $index) {
      <mat-checkbox
        [formControlName]="'circle_' +i"
        [attr.aria-label]="'Circle ' + (i + 1)"
        (change)="valueChanged($event)">
        <div class="circles-container">
          <div class="circle"
               [class.selected]="MultiCheckboxFormGroup.get(option.id)?.value"
               [style.background-color]="defaultColor"
               [style.width.px]="defaultSize"
               [style.height.px]="defaultSize">
          </div>

        </div>
      </mat-checkbox>
    }
  </div>
</div>
