@use '_colors.scss';
@use '_variables.scss';

.write-container {
  @include variables.flex-center;
  flex-direction: column;
  padding-top: 1rem;
  height: 100%;
  box-sizing: border-box;
}

.input-wrapper {
  @include variables.flex-center;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1rem;
}

.stimulus-wrapper {
  @include variables.stimulus-wrapper;
}

.image-wrapper {
  @include variables.image-wrapper;
}

.text-wrapper {
  display: block;
  margin-bottom: 15px;
  min-width: 150px;
  width: auto;

  .text-display {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 4px solid #000;
    box-sizing: border-box;
  }

  .text-content {
    font-family: variables.$font-family;
    font-size: 3.4rem;
    line-height: 1;
    letter-spacing: 0.15rem;
    text-align: center;
    min-height: 3.4rem;

    &.hint {
      color: colors.$hint;
    }
  }
}

.characters-type {
  .text-wrapper {
    width: 90%;
  }
}

.characters-type {
  .keyboard-wrapper {
    width: calc(65px * 9);
  }
}

.numbers_line-type {
  .keyboard-wrapper {
    width: calc(76px * 10);
  }

  .stimulus-wrapper {
    height: 35vh;
  }

  .keyboard-button {
    @include variables.keyboard-numbers-button;
  }

  .backspace-button {
    right: -100px;
  }

  .input-wrapper {
    .text-wrapper {
      width: 160px;
      height: 160px;
      border-radius: 12px;
      background-color: white;

      .text-display {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        min-height: 160px;

        .text-content {
          font-size: 7rem;
        }
      }
    }
  }
}

.keyboard-wrapper {
  @include variables.keyboard-numbers-button-wrapper;
}

.keyboard-button {
  @include variables.keyboard-numbers-button-extra-styles;
  margin: 5px;
  width: 55px;
  height: 55px;
  font-size: 1.4rem;
}

.backspace-button {
 @include variables.backspace-button;
  right: -100px;
}
