@use '_colors.scss';
@use '_variables.scss';

.write-container {
  @include variables.flex-center;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
}

.input-wrapper {
  @include variables.flex-center;
  flex-direction: column;
  padding: 1rem;
}

.stimulus-wrapper {
  margin: 0 auto;
  height: 25vh;

  img {
    width: auto;
    height: 100%;
  }
}

.text-wrapper {
  display: block;
  margin-bottom: 24px;
  min-width: 150px;
  width: auto;

  .text-display {
    display: block;
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
    border-bottom: 4px solid #000;
  }

  .text-content {
    font-family: variables.$font-family;
    font-size: 5rem;
    letter-spacing: 0.15rem;
    text-align: center;
    min-height: 2rem;

    &.hint {
      color: colors.$hint;
    }
  }
}

.characters-type {
  .text-wrapper {
    width: 90%;
  }
}

.characters-type {
  .keyboard-wrapper {
    width: calc(65px * 9);
  }
}

.numbers_line-type {
  .keyboard-wrapper {
    width: calc(76px * 10);
  }

  .stimulus-wrapper {
    height: 35vh;
  }

  .keyboard-button {
    @include variables.keyboard-numbers-button;
  }

  .backspace-button {
    right: -100px;
  }

  .input-wrapper {
    padding-top: 2rem;

    .text-wrapper {
      width: 160px;
      height: 160px;
      border-radius: 12px;
      background-color: white;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

      .text-display {
        border: none;
        min-height: 160px;

        .text-content {
          font-size: 7rem;
          margin-top: 16px;
        }
      }
    }
  }
}

.keyboard-wrapper {
  @include variables.keyboard-numbers-button-wrapper;

  .grapheme-list {
    float: left;
  }
}

.keyboard-button {
  @include variables.keyboard-numbers-button-extra-styles;
  margin: 5px;
  width: 55px;
  height: 55px;
  font-size: 1.4rem;
}

.backspace-button {
 @include variables.backspace-button;
  width: 100px;
  right: -140px;
}
