$blue: #E1E9FF;
$yellow: #FFE693;
$sea: #BEF5FB;
$green: #DBFFAC;
$lila: #E3D8FF;
$peach: #FFC7B1;
$apricot: #FFD4AC;
$sky: #B1DFFF;
$apple: #ACFFB6;
$pink: #FFD8F3;
$highlight: #0050E5;
$black: #000000;
$white: #FFFFFF;

