/* multi-choice-images.component.scss */

.checkbox-group {
  display: flex;
  justify-content: center;
}

.checkbox-group.row-layout {
  flex-direction: row;
  flex-wrap: nowrap;
}

.checkbox-group.grid-layout {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.checkbox-group.grid-layout mat-checkbox {
  width: 45%;
  box-sizing: border-box;
}

mat-checkbox {
  display: block;
  padding: 15px;

  img {
    position: relative;
    width: 100%;
    cursor: pointer;
    background: white;
  }
}

mat-checkbox.mat-mdc-checkbox-checked img {
  border: solid 2px red;
}
