<div class="number-line-container" data-cy="interaction-number-line">
  <div class="svg-container">
    <svg width="1000" height="400" viewBox="0 0 600 240" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5"
                markerWidth="6" markerHeight="6"
                orient="auto-start-reverse">
          <path d="M 0 0 L 10 5 L 0 10 z" />
        </marker>
      </defs>

      @if (localParameters.style === 'RULER') {
        <path
          #numberLinePathRuler
          id="numberLinePathRuler"
          d="M 10 120 H 590"
          stroke="black"
          stroke-width="2"
          fill="transparent"
          marker-end="url(#arrow)" />

        <g class="ruler-items">
          @for (item of numberLineItems(); track item.value) {
            <g [attr.transform]="'translate(' + item.x + ',' + item.y + ')'"
               [attr.data-index]="item.index"
               [class.is-empty]="item.isEmpty"
               class="number-line-item"
               data-cy="number-line-item">
              @if (item.isEmpty) {
                <g transform="translate(0, -50)" data-cy="number-input-group">
                  <line x1="0" y1="60" x2="0" y2="0" stroke="#0050E5" stroke-width="3" data-cy="ruler-blue-input-line" />
                  <rect x="-25" y="-47" width="50" height="54" rx="2" ry="2"
                        class="number-input-field-ruler"
                        fill="white" data-cy="number-input-box-ruler" />
                  <text x="0" y="-20" text-anchor="middle" dominant-baseline="central"
                        class="number-input-text-ruler" [class.hint]="hasHint()" data-cy="number-input-text">
                    {{ numberInputValue }}
                  </text>
                </g>
              } @else {
                <line class="tick-mark" x1="0" y1="5" x2="0" y2="-30" stroke="black" stroke-width="2" data-cy="ruler-tick-mark" />
                <text x="0" y="25" text-anchor="middle" dominant-baseline="central"
                      class="number-text-ruler"
                      data-cy="number-label">
                  {{ item.value }}
                </text>
              }
            </g>
          }
        </g>
      } @else if (localParameters.style === 'BLOCK') {
        @for (item of blockDisplayItems(); track item.index) {
          <g [attr.transform]="'translate(' + item.x + ',' + item.y + ')'" data-cy="number-line-item-block">
            @if (item.isEmpty) {
              <g class="empty-block-group" data-cy="number-input-box-block">
                <rect x="-30" y="-30" width="60" height="60" rx="2" ry="2" fill="white" />
                <text x="0" y="0" text-anchor="middle" dominant-baseline="central"
                      class="number-input-text-block" [class.hint]="hasHint()" data-cy="number-input-text">
                  {{ numberInputValue }}
                </text>
              </g>
            } @else {
              <g class="number-block-group" data-cy="number-block">
                <rect x="-30" y="-30" width="60" height="60" class="block-rect" />
                <text x="0" y="0" text-anchor="middle" dominant-baseline="central"
                      class="number-text-block">
                  {{ item.value }}
                </text>
              </g>
            }
          </g>
        }
      } @else {
        <path
          #numberLinePathWave
          id="numberLinePathWave"
          d="M 10 150 C 200 60, 320 60, 360 120 S 500 180, 590 120"
          stroke="black"
          fill="transparent" />
        @for (item of numberLineItems(); track item.value) {
          <g [attr.transform]="'translate(' + item.x + ',' + item.y + ')'" data-cy="number-line-item">
            @if (item.isEmpty) {
              <rect x="-20" y="-24" width="42" height="46" rx="2" ry="2"
                    class="number-input-field-wave"
                    fill="white" stroke="black" data-cy="number-input-box-wave" />
              <text x="0" y="0" text-anchor="middle" dominant-baseline="central"
                    class="number-input-text-wave" [class.hint]="hasHint()" data-cy="number-input-text">
                {{ numberInputValue }}
              </text>
            } @else {
              <rect x="-20" y="-24" width="42" height="46" rx="2" ry="2"
                    fill="white" stroke="black" data-cy="number-box" />
              <text x="0" y="0" text-anchor="middle" dominant-baseline="central"
                    class="number-text-wave" data-cy="number-label">
                {{ item.value }}
              </text>
            }
          </g>
        }
      }
    </svg>
  </div>

  <div class="keyboard-wrapper" data-cy="keyboard-wrapper">
    @for (button of numbersList; track $index) {
      <button type="button"
              class="keyboard-button"
              [attr.aria-label]="button"
              (click)="handleKeyboardClick(button)"
              [disabled]="isDisabled"
              [attr.data-cy]="'keyboard-button-' + button"
      >
        {{ button }}
      </button>
    }
    <button type="button"
            class="keyboard-button backspace-button"
            [attr.aria-label]="'Backspace'"
            (click)="handleBackButtonClick()"
            [disabled]="numberInputValue.length === 0"
            [attr.data-cy]="'backspace-button'"
    >
      <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"
           fill="currentColor">
        <path d="m456-320 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 160q-19 0-36-8.5T296-192L80-480l216-288q11-15 28-23.5t36-8.5h440q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H360ZM180-480l180 240h440v-480H360L180-480Zm400 0Z"/>
      </svg>
    </button>
  </div>
</div>
