<div>
  @switch (section().blueprintId) {
    @case("PicPicBlueprint") {
      <pic-pic-blueprint
        [interaction]="section().interaction"
        [instructions]="section().instructions"
        [stimulus]="section().stimulus"
        [parentForm]="form"
      ></pic-pic-blueprint>
    }
    @case("PicTextBlueprint") {
      <pic-text-blueprint
        [interaction]="section().interaction"
        [instructions]="section().instructions"
        [stimulus]="section().stimulus"
        [parentForm]="form"
      ></pic-text-blueprint>
    }
  }
</div>
