@use 'colors';
@use 'variables';

.find-on-image-container {
  @include variables.flex-center;
  flex-direction: column;
  margin: 10px 80px 20px 80px;
  height: 100%;

  .image-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      padding: 0;
      width: auto;
      height: auto;
    }

    .area-style {
      background: rgba(255, 255, 255, 0.5);
      border: colors.$highlight dashed 2px;
      position: absolute;
      z-index: 5;
      pointer-events: none;
    }

    .click-target {
      position: absolute;
      z-index: 10;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      border: colors.$highlight solid 4px;
      padding: 0;
      cursor: pointer;
      pointer-events: none;

      &.disabled {
        display: none;
      }

      &.hint {
        border-color: colors.$hint;
      }
    }
  }

  .text-wrapper {
    padding-top: 12px;
    text-align: center;

    span {
      font-size: 36px;
    }
  }
}
